body {
	padding-top:70px;
}

.jumbotron {
	color:#2c3e50;
	background:#ECF0F1;
}

.navbar-inverse {
	color:#2ce350;
}

.navbar-inverse .navbar-nav>li>a 
{
 color:white;
}

.navbar-inverse .navbar-brand
{
color:white;
}
